
/* Règles de styles générales */

*{
    margin: 0px;
}

body{

}

.main_container{
    display: flex;
}

p{
    font-family: arial;
    color: #2c2c2c;
}


h1{
    font-family: arial;
}








/* Section gauche et droite */


.left_side{
    width: 25%;
    background-color: #ffb81d;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}


.right_side{
    width: 75%;
    background-color: #eeeeee;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}





/* Section gauche générale */

.title_left_side {
    text-transform: uppercase;
    text-align: center;
    font-family: 'arial';
    font-weight: normal;
}



/* Section droite générale */

.title_right_side {
    text-transform: uppercase;
    font-family: 'arial';
}




/* Section gauche, photo */

.container_rounded_image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align:center;
}




.rounded_image{
    overflow:hidden;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    border-radius:75px;
    width:150px;
    height:150px;
    background: center  no-repeat url("../img/mathias_picture.png");
    background-size: cover;

}





/* Section gauche, CONTACT */

.container_contact{
    display: flex;
    flex-direction: column;

}

.main_title_contact{
    display: flex;
    height: 50px;
    background-color:#2c2c2c;
    align-items: center;
    justify-content: center;
}


.main_title_contact h2{
    color:#ffb81d;
}


.content_contact{
    margin: 30px;

}

.adresse{
    padding-bottom: 20px;
}


.tel{
    padding-bottom: 20px;
}

.email{
    padding-bottom: 20px;
}






/* Section gauche, A PROPOS DE MOI */

.container_about_me{
    display: flex;
    flex-direction: column;
}

.main_title_about_me{
    display: flex;
    background-color: #2c2c2c;
    color: #ffb81d;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.content_about_me{
    margin: 30px;
    height: 500px;
}






/* Section gauche, PLUS D'INFORMATIONS */

.container_more_information{
    display: flex;
    flex-direction: column; 
}

.main_title_more_information{
    display: flex;
    background-color: #2c2c2c;
    color: #ffb81d;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.content_more_information{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.content_more_information img{
    margin-right: 25px;
    margin-left: 25px;
}




/* Section droite TITRE PRINCIPAL */

.right_side_main_title{
    padding-top: 100px;
    padding-bottom: 100px;
}

.main_title_name{
    font-size: 2.5em;
    font-weight: 100;
    text-transform: uppercase;
}

.hightlight{
    color: #ffb81d;
}


.main_title_profession{
    font-size: 1.5em;
    font-weight: 100;
}


.right_side_main_title p{
    color: #ffb81d;
    font-size: 1.2em;
}




/* Section droite FORMATION */

.formation{
    display: flex;
    flex-direction: column;
}



.bloc_right_side_title{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.graduation{
    margin-right: 50px;
}


.bloc_content_right_side{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;


}



.localisation{
    width:30%;

}



.localisation ul li{
    color: #ffb81d;
}


.skills{

    width: 50%;
}

.skills p{
    margin-bottom: 10px;
}















/* Section droite EXPERIENCE PROFESSIONELLE */


.experience_pro{
    display: flex;
    flex-direction: column;
}

.experience_pro_title{
    display: flex;
    flex-direction: row;
}

.portfolio{
    margin-right: 50px;
}

