
/* Règles de styles générales */

*{
    margin: 0px;
}


.main_container_all_page{
    display: flex;
    width: 100%;
    height: 100%;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #2c2c2c;
}










/* Section gauche et droite */


.left_side{
    width: 25%;
    background-color: #ffb81d;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}


.right_side{
    width: 75%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}





/* Section gauche générale */

.title_left_side {
    text-transform: uppercase;
    text-align: center;
    font-family: 'arial';
    font-weight: normal;
    font-size: 1.3em;
}



/* Section droite générale */

.main_container_right_side{
    width: 90%;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.title_right_side {
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
}




/* Section gauche, photo */

.container_rounded_image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align:center;
}




.rounded_image{
    overflow:hidden;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    border-radius:75px;
    width:150px;
    height:150px;
    background: center  no-repeat url("../img/mathias_picture.png");
    background-size: cover;

}





/* Section gauche, CONTACT */

.container_contact{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_title_contact{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color:#2c2c2c;
    align-items: center;
    justify-content: center;
}


.main_title_contact h2{
    color:#ffb81d;
}


.content_contact{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.adresse_contact{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.tel_contact{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.email_contact{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.website_contact{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}



/* Section gauche, A PROPOS DE MOI */

.container_about_me{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1;
}

.main_title_about_me{
    display: flex;
    background-color: #2c2c2c;
    color: #ffb81d;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.content_about_me{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin:40px;
}



/* Section gauche, PLUS D'INFORMATIONS */

.container_more_information{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.main_title_more_information{
    display: flex;
    background-color: #2c2c2c;
    color: #ffb81d;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.content_more_information{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}


.linkedin_icon, .website_icon{
    height: 40px;
    filter: invert(25%);
}






/* Section droite TITRE PRINCIPAL */

.right_side_main_title{
    padding-top: 100px;
    padding-bottom: 100px;
}


.first_name_hightlight{
    font-size: 2em;
    text-transform: uppercase;
    color: #ffb81d;
    font-family: 'Raleway', sans-serif; 
}

.last_name{
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


hr.line_separator_main_title {
    border-top: 2px solid #ffb81d;
    width: 6%;
}


.main_title_profession{
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color:#2c2c2c;
}


.right_side_main_title p{
    color: #ffb81d;
    font-size: 1.2em;
}




/* Section droite contenu des différentes parties */

.bloc_right_side_title{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}


.bloc_content_right_side{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}


.subtitle_content_right_side{
    margin-bottom: 10px;
}


.subtitle_content_right_side h3{
    font-family: arial;
    font-weight: normal;
}



.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.job_name{
    margin-bottom: 10px;
}




/* Section droite FORMATION */

.formation{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom:50px;
}

.graduation{
    margin-right: 50px;
}

hr.line_separator {
    border-top: 2px solid #ffb81d;
    
}



.localisation{
    width: 30%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.circle_around_dot{
    margin-right: 20px;
    margin-top: 5px;
}


.dot{
    margin-right: 20px;
    margin-top: 5px;
}





/* Section droite EXPERIENCE PROFESSIONELLE */


.experience_pro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom:50px;
}

.experience_pro_title{
    display: flex;
    flex-direction: row;
}

.portfolio{
    margin-right: 50px;
}



/* Section droite RECOMMANDATIONS */


.recommandation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.container_recommandation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}


.bloc_recommandation_1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bloc_recommandation_2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
